<div *ngIf="loginView">
    <h3>Login</h3>
    <input placeholder="Email" [(ngModel)]="email" />
    <input placeholder="Password" [(ngModel)]="password" type="password" />
    <button (click)="handleLogin()">Login</button>
    <p (click)="toggleView()">Register</p>
</div>

<div *ngIf="!loginView">
    <h3>Register</h3>
    <input placeholder="Name"/>
    <input placeholder="Email"/>
    <input placeholder="Code"/>
    <input placeholder="Password"/>
    <input placeholder="Confirm Password"/>
    <button>Register</button>
    <p (click)="toggleView()">Login</p>
</div>

<div *ngIf="loginSuccess">
    <p>Successful Login!</p>
</div>

<p>{{ loginMessage }}</p>
